.list-wrap {
  align-items: center;
}

.container {
  display: flex;
  padding: 10px 0;
  flex-wrap: wrap;
}

.level1 {
  padding-left: 20px;
  border-bottom: 1px solid rgba(204,204,204,0.4);
}

.level2 {
  padding-left: 40px;
  border-bottom: 1px solid rgba(204,204,204,0.4);
}

.level3 {
  padding-left: 60px;
  border-bottom: 1px solid rgba(204,204,204,0.4);
}

.list-status {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.dragBegin {
  color: #999;
}